Package: com.popsicletreehouse.swipeorientation
Name: SwipeOrientation
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
